@import '../../../../variables.scss';

.dashboardMain {
	padding-left: 256px;
	width: 100%;
}

.dashboardContent {
	width: 100%;
	padding: 20px 30px;

	button[type='submit'] {
		display: block;
		clear: both;
		vertical-align: top;
		background: #999;
		color: $light;
		border: none;
		outline: none;
		padding: 12px 28px;
		text-transform: uppercase;
		font-family: $font-label;
		@include transition(all 100ms ease-in-out);

		&:hover {
			background: #666;
		}
	}
}
