form {
  .submitButton {
    text-align: right;
  }
  button {
    background-color: #62baf0;
    border-radius: 50px;
    border: #62baf0 solid 1px;
    color: #fff;
    text-transform: none;
    padding: 3px 20px;
    letter-spacing: normal;
    font-size: 14px;
    margin: 15px 0;
  }
}