@import '../../../../../../variables.scss';

.lifetimeData {
	background: $black;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 700px;
	padding: 60px 5%;
	position: relative;

	h2 {
		color: $white;
		margin: 0 auto;
		padding-bottom: 30px;
		text-align: left;
		@include breakpoint2 {
			text-align: center;
		}
	}
}

.lifetimeDataText {
}

.lifetimeDataVisualization {
	position: absolute;
	left: 0;
	top: 180px;
	width: 100%;
}

.lifetimeDataSteps {
	max-width: 1200px;
	margin: 0 auto;
}

.lifetimeDataStep {
	background: transparent;
	opacity: 1;
	padding: 30px 0 0;
	@include breakpoint2 {
		padding: 60px 30px 0;
	}

	&.lifetimeDataStepActive {
		.lifetimeDataMarker {
			display: none;
		}
	}

	.lifetimeDataMarker {
		display: none;
	}

	.lifetimeDataLabel {
		color: $white;
		margin: 0px auto;
		padding-bottom: 15px;
		display: block;
	}

	p {
		color: $color_grey_400;
	}
}
