@import '../../../../../../variables.scss';

.lifetimeData {
	background: $black;
	min-height: 720px;
	position: relative;

	h2 {
		color: $white;
		margin: 0 auto;
		text-align: center;
		padding: 60px 0 30px;
	}
}

.lifetimeDataText {
	position: absolute;
	top: 180px;
	left: 0;
	width: 100%;
}

.lifetimeDataVisualization {
	position: absolute;
	top: 0;
	left: 0;
	padding: 90px 0;
	width: 100%;
	opacity: 0.9;
}

.lifetimeDataSteps {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}

.lifetimeDataStep {
	background: transparent;
	opacity: 1;
	padding: 60px 30px;
	min-height: 320px;
	@include transition(all 300ms ease-in-out);

	&.lifetimeDataStepActive {

		.lifetimeDataMarker {
			display: none;
		}
	}

	.lifetimeDataMarker {
		display: none;
	}

	.lifetimeDataLabel {
		color: $white;
		margin: 0px auto;
		padding: 25px 0;
		display: block;
	}

	p {
		color: $color_grey_400
	}
}
