@import "../../../styles.scss";

.itemList {
  min-height: 300px;
  background: #fff;
  max-width: 990px;
  width: 95%;
  margin: 30px auto 100px;
  @media #{$breakpoint-0} {
    display: none;
  }
}

.itemTabContent {
  padding: 33px 0;
}

.noEvents {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
	padding-bottom: 200px;
}
