@import '../../../../variables.scss';

.coverTitleOuter {
	background: $orpheus_color_accent_200;
}

.coverTitle {
	margin: 0;
	padding: 60px 30px 30px 10%;
	color: $black;
	font-size: 54px;
	line-height: 1.3em;
	display: inline-block;
	vertical-align: baseline;
}

.coverLink {
	color: $orpheus_color_primary_500;
	font-size: 22px;
	font-weight: 100;
	font-style: italic;
	display: inline-block;
	vertical-align: baseline;
	padding: 10px;
	@include transition(100ms all ease-in-out);

	&:hover {
		color: $orpheus_color_primary_800;
	}
}

.coverLinkRemove {
	border: none;
	outline: none;
}
