@import "../../../styles";

.itemList {
	padding: 10% 5%;
	min-height: 300px;
	//background: #fff;
	max-width: 990px;
	width: 100%;
	margin: 0 auto;

	.pageSectionTitle {
		font-size: 42px;
		padding: 20px 0;
		font-family: "Overpass", serif;
		font-weight: 100;
		color: #757575;
	}
}

.itemTabContent {
	padding: 33px 0;
}