@import '../../../variables.scss';

.at-pwd-form {
	label {
		font-size: 14px;
		font-family: $font-label;
		font-weight: 100;
		color: $text-primary;
		text-align: left;
		width: 100%;
		margin: 5px 0;
	}

	input {
		border-radius: 0px;
		border: 2px solid #ddd;
		padding: 15px;
		font-size: 16px;
		font-family: $font-body;
		height: auto;

		&:focus {
			border: 2px solid $dark;
			outline: none;
		}
	}

	button {
		width: 100%;
		padding: 10px 25px;
		margin: 10px auto 30px;
		border-radius: 0px;
	}
}
