.header {
  background:#757575;
  height:60px;
}
.linkContainer {
  display:flex;
  justify-content:center;
  a {
    padding:0 20px;
    color:#fff;
  }
}
.navLink {
  justify-content:space-around;
}
