@import "../../styles/vars";

.header {
  height: 90px;
  display: flex;
  align-items: flex-end;
  padding: 0 3%;
  background: #fafafa;
}

.siteLogoHeader {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  z-index: 1;
}

.linkContainer {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.navLink {
  justify-content: space-around;
}

.linkContainer, .siteLogoHeader {
  a {
    color: $dark;
    font-weight: bold;
  }
}

.nav-link {
  padding:0 20px;
}

.nav-link-join {
  padding: 0 0 0 20px;
}
