@mixin orpheus_button {
	@include orpheus_font_button;
	border: none;
	border-radius: 2px;
	color: $orpheus_color_primary_500;
	cursor: pointer;
	display: inline-block;
	padding: 1.2rem 2rem;
	text-align: center;
	text-transform: uppercase;
	transition: all 100ms ease-in-out;
	&:hover {
		color: $orpheus_color_primary_700;
	}
	&:active {
		color: $orpheus_color_primary_900;
		transition: none;
	}
	&:disabled, &.disabled {
		cursor: default;
		opacity: 0.3;
	}
}

@mixin orpheus_button--primary {
  @include orpheus_button;
	background: $orpheus_color_primary_500;
	color: $white;
	&:hover {
		background: $orpheus_color_primary_700;
		color: $white;
	}
	&:active {
		background: $orpheus_color_primary_900;
		color: $white;
	}
}

@mixin orpheus_button--secondary {
  @include orpheus_button;
	background: $orpheus_color_accent_300;
	color: $color_grey_800;
	&:hover {
		background: $orpheus_color_accent_700;
		color: $color_grey_800;
	}
	&:active {
		background: $orpheus_color_accent_900;
		color: $color_grey_800;
	}
}

@mixin orpheus_button--light {
  @include orpheus_button;
	background: $color_grey_100;
	color: $black;
	&:hover {
		background: $color_grey_200;
		color: $black;
	}
	&:active {
		background: $color_grey_300;
		color: $black;
	}
}

@mixin orpheus_button--dark {
  @include orpheus_button;
	background: $color_grey_900;
	color: $white;
	&:hover {
		background: $color_grey_800;
		color: $white;
	}
	&:active {
		background: $color_grey_700;
		color: $white;
	}
	&:focus {
		color: $white;
	}
}
