@import '../../../../variables.scss';

.discussion {
  border-top: 1px solid $orpheus_color_primary_100;
  padding-top: 40px;
  text-align: left;
}

.discussionTitle {
  color: $orpheus_color_primary_500;
}

.discussionTitleContainer {
  padding-bottom: 40px;
}

.discussionAuthor, .discussionDate, .discussionContent, .discussionReplyButton {
  font-size: 18px;
}

.discussionMeta {
  padding-bottom: 10px;
}

.discussionAuthor {
  color: $orpheus_color_primary_500;
  font-weight: bold;
  padding-right: 10px;
}

.discussionDate {
  color: $orpheus_color_accent_200;
}

.discussionContent {;
	width: 100%;
}

.discussionReplyButton {
  @include orpheus_button;
}

.discussionReply {
  border-left: 2px solid lighten($black, 50%);
  text-align: left;
  margin: 20px 0px;
  padding-left: 30px;
}
