@import "../../../../styles";

.cover-section {
  height: 400px;
  width: 100%;
  background: #fcfadf;
}

.content-section {
  min-height: 500px;
  padding: 0 5%;
  padding-bottom: 60px;
}

.cover-image {
  margin-top: -300px;
  margin-bottom: 60px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.section-title {
  font-size: 42px;
	padding: 20px 0;
  font-family: $font-reading;
	font-weight: 100;
  color: $darkGrey;
}

.content {
	text-align: left;

	p {
		font-size: 22px;
		font-family: $font-reading;
		font-weight: 100;
		line-height: 1.7em;
		padding: 15px 0;
		color: #444;

		a {
			color: $primary-800;
		}

	}
	h1, h2, h3, h4, h5 {
		font-family: $font-title;
	}
	h1 {
		font-size: 42px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 28px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 18px;
	}
}


.metaItem {
	padding: 15px 0;

	label {
		font-family: $font-label;
		font-size: 24px;
		font-weight: bold;
		text-align: right;
		width: 100%;
	}

	p {
		font-family: $font-body;
		font-size: 18px;
		font-weight: 100;
		padding: 0 15px;
	}
}
