@import '../../../variables.scss';


.releaseMessage {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background: rgba(255, 255, 255, 0.9);
	border-top: 1px solid $orpheus_color_primary_200;
	z-index: 100;
	padding: 30px;
	text-align: center;

	span {
		@include orpheus_font_body1;
	}

}
