@import '../../../../variables.scss';


.projectNameAvailabilityForm {
	margin-top: 40px;
	padding: 0;
}

.projectNameAvailabilityFormInputOuter {
	input {
		display: inline-block;
		margin: 20px 0;
		width: 90%;
		max-width: 660px;
	}
}

.projectNameAvailabilityFormURLOuter {

	&.projectNameUnavailable {
		input {
			color: $orpheus_color_accent_400;
		}
	}

	input {
		width: 260px;
		text-align: right;
	}

	.projectNameAvailabilityFormHelp {
		padding-top: 45px;
	}
}

.projectNameAvailabilityFormURL {
	display: inline-block;
	vertical-align: top;

	span {
	}

}

.projectNameAvailabilityFormHelp {
	display: inline-block;
	cursor: pointer;
}

.nameNotAvailable {
	color: $orpheus_color_accent_500;
	opacity: 0;

	&.nameNotAvailableVisible {
		opacity: 1;
	}
}
