@import "../../../../styles";

.submit {
	min-height: 100vh;
	padding-top: 90px;
}

.submitForm {
	margin: 0px auto;
	padding: 30px 0;
	width: 95%;
	max-width: 720px;

	label {
		font-size: 12px;
		font-family: $font-label;
		text-transform: uppercase;
		text-align: left;
		font-weight: bold;
		width: 100%;
		letter-spacing: 2px;
		margin: 10px 0;
	}

	input, textarea {
		border-radius: 0px;
		border: 2px solid #ddd;
		padding: 15px;
		font-size: 16px;
		height: auto;
		width: 100%;
		font-family: $font-reading;
		color: $darkestGrey;
		font-size: 22px;
		font-weight: 100;

		&:focus {
			border: 2px solid $dark;
			outline: none;
		}
		&::placeholder {
			color: $grey;
		}
	}

	button {
		width: 100%;
		padding: 15px 25px;
		margin: 10px auto 30px;
		border-radius: 0px;
		border: 2px solid $primary;
		font-size: 14px;
		background: $primary;
		@include transition(all 100ms ease-in-out);
		color: $light;
		font-family: $font-body;
		text-transform: uppercase;

		&:hover, &:focus {
			background: $primary-600;
			border: 2px solid $primary-600;
		}
	}

}

.submitFormTitleOuter {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.submitFormTitle {
	padding: 10px 0 20px;
	font-family: $font-reading;
	font-size: 24px;
	font-weight: 100;
}

.submittedMessage {
	font-family: $font-reading;
	font-size: 26px;
	padding: 30px 0;
	color: $text-secondary;
	line-height: 1.7em;

	a {
		border-bottom: 3px solid #ddd;
		cursor: pointer;

		&:hover {
			color: #000;
			border-bottom: none;
		}
	}
}

.submitFormInner {
	padding: 10px 0;
	margin: 0 auto;
	width: 100%;
}

.submitRecaptcha {
	padding: 20px 0;
}
