section {
  color: #6f6f6f; }
  section h2 {
    text-transform: uppercase;
    margin: 15px 0; }
  section hr {
    border-top: #bfbfbf 0.5px solid; }
  section .highlight {
    color: #60b0de; }
  section .short {
    width: 150px;
    margin: 15px 0; }
  section .orange {
    border-top: 1px solid #efb013; }
  section .italic {
    font-style: italic; }
  section .signature {
    text-transform: uppercase; }
