section {
  color: #6f6f6f;

  h2 {
    text-transform: uppercase;
    margin: 15px 0;
  }
  hr {
    border-top: #bfbfbf 0.5px solid;
  }
  .highlight {
    color: #60b0de;
  }
  .short {
    width: 150px;
    margin: 15px 0;
  }
  .orange {
    border-top: 1px solid #efb013;
  }
  .italic {
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
  }
  .signature {
    text-transform: uppercase;
  }
}