.collectionCard {
  height: 370px;
  background-color: #fff;
  color: #6f6f6f;
  .cardImage {
    height: 220px;
    background: center no-repeat;
  }
  .collectionBadge {
    background-color: #60b0de;
    color: white;
    display: inline-block;
    position: relative;
    line-height: 28px;
    padding: 0 14px;
    margin: 0 28px;
    vertical-align: top;
    top: -15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .collectionBadge:before {
    content: '';
    border-top: 14px solid #60b0de;
    border-right: 7px solid #60b0de;
    border-left: 7px solid transparent;
    border-bottom: 14px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: 0;
  }
  .collectionBadge:after {
    content: '';
    border-top: 14px solid #60b0de;
    border-right: 7px solid transparent;
    border-left: 7px solid #60b0de;
    border-bottom: 14px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    top: 0;
  }
  .collectionDescription {
    padding: 0 10px;
    position: relative;
    .location {
      text-align: left;
      color: #999999;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      letter-spacing: 2px;
    }
  }
  .collectionCardControls {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 360px;
    background-color: #f5f5f5;
    border-top: 1px solid #bad9ed;
    .control {
      display: table-cell;
      width: 120px;
      height: 39px;
      line-height: 39px;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
    }
    .fa {
      color: #60b0de;
    }
    .date {
      border-right: 1px solid #bad9ed;
    }
    .comments {
      border-left: 1px solid #bad9ed;
    }
  }
}