@import '../../../../variables.scss';

.lifetimeData {
	background: #222;
	min-height: 600px;

	h2 {
		color: $light;
		margin: 0 auto;
		text-align: center;
		font-size: 32px;
		padding: 60px 0 30px;
	}
}
