@import '../../../../variables.scss';

.lifetimeData {
	background: #eee;
	min-height: 420px;
	h2 {
		color: $text-primary;
		margin: 0 auto;
		text-align: center;
		font-size: 42px;
		padding: 60px 0 30px;
	}
}
