#testimonial {
  .testimonialSection {
    background-image: url('/images/testimonial.png') !important;
    height: 500px;
  }
  .parallax-content {
    background-color: rgba(44, 62, 80, 0.8);;
    position: relative;
    padding-top: 70px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    color: #fff;
    text-align: center;
  }
  .quotes {
    color: #60b0de;
  }
  .testimonialsContainer {
    margin-top: 30px;
  }
  .testimony {
    margin: 0 auto;
    line-height: 230%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style: italic;

  }
  .testimonyAuthor {
    clear: both;
    color: #60b0de;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
  }
}