@import '../../../../variables.scss';

.tag {
	display: inline-block;
	vertical-align: top;
	padding: 3px 0;
	margin: 2px 5px;
	border-bottom: 1px solid $orpheus_color_accent_200;
	@include transition(all 100ms ease-in-out);
	cursor: pointer;

	&:hover {
		border-bottom: 1px solid $black;
	}
}

.tags {
	a:first-child .tag {
		margin: 2px 5px 2px 0px;
	}
}
