@import '../../../../../../variables.scss';

#visit {
	background: #fafafa;
	padding: 0;
	margin: 0;
}

.projectVisitCol {
	margin: 0;
	padding: 0;
}

.projectVisitInfo {
	text-align: left;
	padding: 40px 50px;

	h2 {
		color: $black;
	}

	hr {
		background: #aaa;
		max-width: 120px;
		height: 2px;
		border: none;
		outline: none;
		margin: 30px 0;
	}

	p {
		color: $black;
		padding: 6px 0;
		margin: 0;

		a {
			color: $black;
			border-bottom: 1px solid $black;
			&:hover {
				border-bottom: 1px solid rgba(0, 0, 0, 0);
			}
		}
	}
}
