.headroom {
  top: 0;
  left: 0;
  right: 0;
  zIndex: 1;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.social-nav {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  min-height: 40px;
  max-height: 40px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  .container {
    padding: 0;
  }
  li a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
  }
}

.page-nav {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  margin-bottom: 0;
  top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  .container {
    min-height: 70px;
  }
  .navbar-brand {
    line-height: 70px;
    padding: 0;
    color: #fff;
  }
  .navbar-brand:hover {
    color: #dddedf;
  }
  ul {
    margin-left: 40px;
  }
  li a {
    padding: 0 25px;
    line-height: 70px;
  }
}
