@import '../../variables.scss';

.header {
	width: 100%;

	.nav-header, .nav {
		display: inline-block;
		vertical-align: top;
	}

	.nav {
		float: right;
	}
}

.headroom-wrapper {
	position: fixed;
	top: 0;
	left: 0;
  z-index: 100;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
	position: fixed;
}
.headroom--unfixed {
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
	background: #fff;
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom--pinned {
  transform: translateY(0%);
}

.nav-header {

}

.site-title {
	font-family: $font-logo;
}

.nav {
	li {
		display: inline-block;
		vertical-align: top;
		font-family: $font-label;

		a {
			height: 60px;
			padding: 15px 20px;
			font-weight: bold;

			&:hover {
				background: #eee;

			}
		}

	}
}

.social-nav {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  min-height: 40px;
  max-height: 40px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  .container {
    padding: 0;
  }
  li a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
  }
}
