@import "../../../styles";

.itemList {
  min-height: 300px;
  background: #fff;
  max-width: 990px;
  width: 95%;
  margin: 30px auto 100px;
  @media #{$breakpoint-0} {
    display: none;
  }
}

.itemTabContent {
  padding: 33px 0;
}