@import '../../../../variables.scss';

.collectionListItem {
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: top;
	margin: 25px 4%;
	width: 90%;
	max-width: 260px;


	.collectionListItemImage {
		position: relative;
		z-index: 1;

		img {
			@include transition(all 100ms ease-in-out);
			width: 110%;
			margin-left: -10px;
			border: 10px solid transparent;
			outline: 2px solid transparent;
			cursor:pointer;

			&:hover {
				outline: 2px solid $color_grey_500;
			}
		}
	}

	.collectionCount {
		@include orpheus_font_body1;
		color: $color_grey_500;
		padding: 10px 0;
	}

	.collectionListItemBackground {
		background: $color_grey_300;
		position: relative;
		padding: 30px 20px 20px;
		margin: -30px -12% 0 -8%;
		width: 120%;
		box-shadow: 0px 0px 2px $color_grey_500;

		&.collectionListItemBackgroundWithImage {
			padding: 210px 20px 20px;
			margin: -210px -12% 0 -8%;
		}
	}


	h3 {
		color: $orpheus_color_primary_500;
		cursor: pointer;
		margin: 0;
		padding: 5px 0 15px;
		@include transition(all 100ms ease-in-out);

		&:hover {
			color: $orpheus_color_primary_600;
		}
	}

	p {
		font-weight: 100;
		color: $orpheus_color_primary_500;
	}

	.collectionLink {

		&:hover {
			span, i {
				color: $orpheus_color_primary_600;
			}
		}

		span, i {
			@include transition(all 100ms ease-in-out);
			color: #444;
			display: inline-block;
			vertical-align: top;
		}

		span {
			padding-top: 5px;
		}

		i {
			&:before {
				font-size: 22px;
			}
		}
	}
}
