@import '../../../../variables.scss';

.searchHead {
  margin: 180px 0 10px 0;

  label {
    padding: 10px;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

 .resultsHeader {
   color: #222;
   margin: 0 auto;
   max-width: 1100px;
   font-size: 40px;
   font-weight: bold;
 }
}

.searchInputOuter {
  background: $white;
  border-radius: 6px;
  box-shadow: 0px 10px 33px #e7e6e6;
  @include transition(all 100ms ease-in-out);
  width: 100%;
  max-width: 990px;
  margin: 60px auto 0px;
  display: flex;
  padding: 10px 20px;

  .searchIcon {
    margin-right: 15px;
  }

  i {
    color: #444;
    width: 30px;
  }

  i.filterIcon {
    cursor: pointer;
    width: 46px;
    border-radius: 3px;
    padding: 0 5px;
    @include transition(all 100ms ease-in-out);

    &:hover {
      color: $orpheus_color_primary_500;
      background: rgba(0, 0, 0, 0.02);
    }
    &.filterIconActive {
      color: $orpheus_color_primary_500;
    }
  }

  input {
    color: #444;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;

    &:focus {
      color: $black;
      outline: none;
    }
  }
}

.searchToolHeader {
  padding: 20px;
}

.searchDrawerTitle {
  display: inline-block;
  vertical-align: text-top;
  font-size: 20px;
  margin-top: 4px;
}

.searchDrawerClose {
  display: inline-block;
  float: right;
}

.searchToolCategories {
  padding-left: 20px;
}

@media (max-width: 850px) {
  .searchHead {
    padding: 0 20px;
  }
}
