@import '../../../../variables.scss';

.textSelector {
	padding: 0;
	max-width: 990px;
	margin: 0 auto;

	h1 {
		margin-top: 90px;
	}

	hr {
		max-width: 120px;
		width: 90%;
		margin: 20px 0;
		height: 3px;
		background: $color_grey_500;
		border: none;
		outline: none;
		display: none;
	}

	.textNameAvailabilityFormURLOuterDisabled {
		input, .textNameAvailabilityFormURL {
			opacity: 0.4;
		}
	}
}


.textSelectorFormInputOuter {
	margin: 50px 0;
	max-width: 660px;
	width: 100%;
	display: flex;
	align-items: left;
	justify-content: center;

	input, textarea {
		margin: 20px 0;
		width: 90%;
		max-width: 990px;
	}
}

.textSelectorSelectField {
	width: 100%;
}

.textSelectorFormHelp {
	font-size: 12px;
	color: $orpheus_color_primary_500;
	padding: 40px 6px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;

	&:hover {
		color: $orpheus_color_primary_700;
	}
}

.nameNotAvailable {
	color: $orpheus_color_accent_500;
	opacity: 0;

	&.nameNotAvailableVisible {
		opacity: 1;
	}
}

.textSelectorButton {
	@include orpheus_button;
	margin: 30px 0;
}
