@import '../../../../variables.scss';

.at-form {
	h5 {
		button {
			color: $orpheus_color_primary_500;
			cursor: pointer;
			margin-left: 10px;
			padding: 0 0px 2px;
			background: none;
			border: none;
			outline: none;
			transition: all 100ms ease-in-out;

			&:hover {
				color: $orpheus_color_primary_500;
			}
		}
	}

	form {
		text-align: left;
		margin: 0 auto;
	}

	.error-text {
		@include orpheus_font_caption;
		color: $black;
	}
}

.at-sep {
	@include orpheus_button;
	margin: 15px auto;
}

#at-forgotPwd {
	text-align: left;
	font-size: 16px;
	padding: 2px 0 14px;
	display: block;
}

#at-resend-verification-email {
	padding: 0 4px;

}

.at-signup-link, .at-resend-verification-email-link {
	font-size: 16px;
}
