/******************************************************************************


                  _
     ___ _ _ _ __| |_  ___  _  _ ___
    / _ \ '_| '_ \ ' \/ -_)| || (_-<
    \___/_| | .__/_||_\___(_)_,_/__/
            |_|

        the archive, reimagined.



 |  Style Variables for orphe.us application
 |
 |   1. Colors
 |   2. Typography
 |   3. Mixins


******************************************************************************/
/******************************************************************************

1. Colors

******************************************************************************/
/******************************************************************************

1.1 Base Colors

******************************************************************************/
/******************************************************************************

1.2 Brand Colors

******************************************************************************/
/******************************************************************************

1.3 Text Colors

******************************************************************************/
/******************************************************************************

2. Typography

Available Fonts:

=================================
Google Fonts
=================================
font-family: 'Gentium Basic', serif;
font-family: 'Merriweather', serif;

=================================
Fonts.com
=================================
font-family:'Slate W04 Light';
font-family:'Slate W04 Bk';
font-family:'Slate W04 Regular';
font-family:'Slate W04 Medium';
font-family:'Slate W04 Condensed';
font-family:'Slate W04 Bold';
font-family:'Slate W04 Black';
font-family:'Proxima Nova W08 Light';
font-family:'Proxima Nova W08 Reg';
font-family:'Freight Text W03 Light';
font-family:'Freight Text W03 Black';
font-family:'Freight Text W03 Book';
font-family:'Freight Text W03 Bold';
font-family:'Courier Bold W07 Regular';
font-family:'Courier W07 Regular';
font-family:'Futura LT W04 Bold Cond1475886';
font-family:'Futura LT W04 Book1475802';
font-family:'Futura LT W04 Medium1475814';
font-family:'Futura LT W04 Light1475790';
font-family:'Futura LT W04 Black';

=================================
Material Design Icons
=================================
font-family: "Material Design Icons";

******************************************************************************/
/******************************************************************************

2.1 Base Fonts

******************************************************************************/
/******************************************************************************

2.2 Title Fonts

******************************************************************************/
/******************************************************************************

2.3 Reading Environment Fonts

******************************************************************************/
/******************************************************************************

2.4 Material Design Icons

******************************************************************************/
@font-face {
  font-family: "Material Design Icons";
  src: url("/fonts/materialdesignicons-webfont.eot?v=1.9.32");
  src: url("/fonts/materialdesignicons-webfont.eot?#iefix&v=1.9.32") format("embedded-opentype"), url("/fonts/materialdesignicons-webfont.woff2?v=1.9.32") format("woff2"), url("/fonts/materialdesignicons-webfont.woff?v=1.9.32") format("woff"), url("/fonts/materialdesignicons-webfont.ttf?v=1.9.32") format("truetype"), url("/fonts/materialdesignicons-webfont.svg?v=1.9.32#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/******************************************************************************

3. Mixins

 Mixins are based off of the excellent ups-mixin-lib repository by Upstatement
 @https://github.com/Upstatement/ups-mixin-lib

******************************************************************************/

.singleImage {
  display: inline-block;
  text-align: center;
  .fileThumbnail {
    line-height: 90px;
    margin: 0px 4px;
    border: 8px solid transparent;
    outline: 2px solid transparent;
    cursor: pointer;
    -o-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    .fileIcon {
      border: 1px solid #999;
      width: 88px;
      height: 88px;
      margin: 8px 12px;
    }
  }
  .fileThumbnail:hover {
    outline: 2px solid #222;
  }
  .thumbnailImage {
    margin: 0px 4px;
    border: 8px solid transparent;
    outline: 2px solid transparent;
    cursor: pointer;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
  }
}

.imageTitle {
  display: inline-block;
  width: 100%;
  background: #fff;
  border: 1px solid #7f8fa4;
  border-radius: 10px;
  padding: 10px 40px;
  z-index: 1000;
}

.fileDetails {
  margin-top: -20px;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dfe3e9;
  z-index: 1000;
  width: 250px;
  -webkit-box-shadow: 3px 3px 20px 0px rgba(163,163,163,1);
  -moz-box-shadow: 3px 3px 20px 0px rgba(163,163,163,1);
  box-shadow: 3px 3px 20px 0px rgba(163,163,163,1);
  .textInput {
    margin: 10px 7px;
  }
  .deleteFile {
    background-color: #a4142a;
    border-color: #a4142a;
    span {
      color: #fff;
    }
  }
}
.fileDetailsHide {
  visibility: hidden;
}
.fileDetailsButtons {
  padding: 0 10px;
  border-top: solid 1px #B2B6BC;
  background-color: #f8f9fa;
  text-align: right;
}