@import "../../../../styles.scss";

.cover {
	height: 100vh;
	width: 100vw;

	.coverRow {
		flex-wrap: nowrap;
		@media #{$breakpoint-3} {
			flex-wrap: wrap;
		}

	}

	.coverText {
		margin-top: 200px;
	}

	.siteTag {
	  font-size: 52px;
	  color: $dark;
		font-family: $font-title;
	}

	.siteTagSubtitle {
	  font-size: 36px;
	  line-height: 1.3em;
	  color: $lightGrey;
		font-family: $font-title;
	}

}

@media (max-width: 600px) {
	.cover {
		height: 100%;
	}

	.coverText {
		margin-top: 150px;
	}

	.siteTag {
		font-size: 44px;
	}

	.siteTagSubtitle {
		font-size: 30px;
	}

	.featuredTrackColumn {
		padding: 0;
	}
}
