@import '../../../../../../variables.scss';


#permissions {
	min-height: 350px;
	position: relative;
	z-index: 1;
}

.permissionsHeader, .permissionsInfoBlock {
	text-align: left;
	vertical-align: top;
}

.permissionsHeader {
	border: 2px solid $black;
	padding: 30px;

	h3 {
		margin: 0;
		padding: 0 0 10px 0;
	}

	p {
		color: lighten($black, 30%);
		margin: 0;
		padding: 0;
	}
}

.permissionsInfoBlock {
	@include orpheus_font_body2;
	padding: 6px 10px 30px;

	h4 {
		margin: 0;
		display: inline;
		vertical-align: top;
		padding: 0 10px 0 0;
	}
	p {
		@include orpheus_font_body2;
		color: lighten($black, 30%);
		margin: 0;
		padding: 0;
		display: inline;
		vertical-align: top;
	}
}
