@import '../../../../variables.scss';

.countSection {
	display: block;
	text-align: center;
	border: 2px solid transparent;
	padding: 40px 0;
	transition: all 100ms ease-in-out;

	&:hover {
		border: 2px solid $black;
		label, .count {
			color: $black;
		}

		.count {
			border-bottom: 2px solid $color_grey_500;
		}
	}

	label {
		@include orpheus_font_overline;
		display: block;
		margin: 25px 0 0;
	}

	.count {
		font-size: 60px;
		display: inline-block;
		padding: 0 0 3px 0;
		border-bottom: 2px solid transparent;
		transition: all 100ms ease-in-out;
	}
}
