@import '../../../variables.scss';
.brick {
	border: 6px solid transparent;
	outline: 4px solid transparent;
	@include transition(all 100ms ease-in-out);
	&:hover {
		outline: 4px solid $primary-100;
	}

}

#home {
  h1 {
    font-size: 50px;
    letter-spacing: 2px;
  }

  p {
    font-weight: 300;
    font-size: 15px;
  }

  h2 {
    font-weight: bold;
    color: #3c3d41;
    font-size: 24px;
    padding-bottom: 50px;
    letter-spacing: 2px;
  }

  .invert {
    color: #fff;
  }

  h3 {
    font-weight: bold;
    letter-spacing: 2px;
    color: #efb013;
    text-transform: uppercase;
  }

  h4 {
    line-height: 19px;
    max-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    color: #2c3e50;
  }

  h5 {
    font-weight: bold;
    text-transform: uppercase;
    color: #3c3d41;
    font-size: 18px;
    letter-spacing: 2px;
  }

}
