.header-jumbotron {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/header-bg.png") center;
  background-size: cover;
  min-height: 800px; }

.jumbotron-content {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 400px;
  margin: 0 auto;
  display: block;
  color: #fff;
  text-align: center; }

section {
  color: #6f6f6f; }
  section h2 {
    text-transform: uppercase;
    margin: 15px 0; }
  section hr {
    border-top: #bfbfbf 0.5px solid; }
  section .highlight {
    color: #60b0de; }
  section .short {
    width: 150px;
    margin: 15px 0; }
  section .orange {
    border-top: 1px solid #efb013; }
  section .italic {
    font-style: italic; }
  section .signature {
    text-transform: uppercase; }
