@import '../../../variables.scss';
#home {

  h1 {
    font-size: 50px;
    letter-spacing: 2px;
  }

  p {
    font-weight: 300;
    font-size: 15px;
  }

	.home-cover-content {
		margin: 0 auto;
		display: inline-block;
		display: block;
		max-width: 90%;
		width: 720px;
		padding-bottom: 90px;

		h1 {
			color: $dark;
			padding: 20px 0;
			text-shadow: 0px 0px 20px #fff;
		}

		.lead {
			color: $dark;
			padding: 20px 0 40px;
			text-transform: uppercase;
			text-shadow: 0px 0px 20px #fff;
			font-size: 20px;
		}

	}

}
