#home {
  .header-jumbotron {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/header-bg.png') center;
    background-size: cover;
    min-height: 800px;
  }
  .jumbotron-overlay {
    background: url('/images/head-overlay.jpg') center;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .jumbotron-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 400px;
    margin: 0 auto;
    display: block;
    color: #fff;
    text-align: center;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;

  }
  h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #3c3d41;
    font-size: 24px;
    padding-bottom: 50px;
    letter-spacing: 2px;

  }
  .invert {
    color: #fff;
  }
  h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #efb013;
    text-transform: uppercase;
  }
  h4 {
    line-height: 19px;
    max-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    color: #2c3e50;
  }
  h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #3c3d41;
    font-size: 18px;
    letter-spacing: 2px;
  }
}