@import '../../../../variables.scss';
@import '../ItemMetaField/ItemMetaField.scss';

.itemTitleOuter {
	padding: 20px 0 0 0;
	text-align: left;
}

.itemTitle {
	color: $orpheus_color_primary_500;
	display: inline-block;
	vertical-align: baseline;
	padding-right: 15px;
}

.itemMetaField.aboutMetaField {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.itemTitleLink {
	display: inline-block;
	vertical-align: baseline;
	padding: 0px 10px;
	cursor: pointer;
	border: none;
	outline: none;
	@include transition(100ms all ease-in-out);

	&:hover {
		color: $orpheus_color_primary_700;
	}

	&:focus {
		outline: none;
	}
}
