#articles {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;

}
.articlesList {
  h3 {
    color: #3c3c3c;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
  }
  hr {
    padding-bottom: 20px;
  }
}