#mainPanel {
  height: 100%;
  .panel {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.08);
    font-family: 'Montserrat', sans-serif;
    .notificationIcon {
      display: inline-block;
      margin-right: 20px;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      color: #fff;
      padding: 5px;
    }
    .comments {
      background-color: #a4d882;
      border: 5px solid #a4d882;
    }
    .projects {
      background-color: #5ba2e4;
      border: 5px solid #5ba2e4;
    }
    .articles {
      padding: 8px;
      background-color: #f6da40;
      border: 5px solid #f6da40;
    }
    .notification {
      display: inline-block;
      h2 {
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 5px;
        text-transform: none;
        margin-top: 5px;
        margin-bottom: 3px;
        font-size: 16px;
        letter-spacing: 1px;
      }
      h3 {
        font-family: 'Montserrat', sans-serif;
        text-transform: none;
        margin-top: 0;
        font-size: 13px;
        color: #9a9a9a;
        letter-spacing: normal;
      }
    }
    .panel-heading {
      border-color: #f3f3f3;
      background-color: #fff;
    }
  }
  .articleDetails {
    .articleTitle {
      margin-left: 30px;
      color: #4c5e70;
      font-size: 16px;
    }
    .pull-right {
      margin-top: 15px;
    }
    .icon {
      color: #777777;
      display: inline-block;
      margin: 0 20px;
      height: 100%;
      .fa {
        color: #fff;
        border-radius: 15px;
        padding: 4px;
        width: 30px;
        height: 30px;
        background-color: #5ba2e4;
        border: 5px solid #5ba2e4;
        margin-right: 5px;
      }
    }
  }
  .chart {
    .recharts-wrapper {
      margin: 0 auto;
    }
  }
  .timelineWrapper {
    .timeline {
      list-style: none;
      padding-left: 5px;
      .timelineDate {
        display: block;
        color: #9a9a9a;
        font-weight: 400;
      }
      .timelineItem {
        padding-left: 15px;
        margin: 0;
        text-indent: -22px;
        .timelineItemContent {
          margin-left: 25px;
          margin-top: -25px;
          padding: 15px;
          padding-top: 0;
        }
      }
      .timelineItem::before {
        content: "• ";
        font-size: 50px;
        line-height: 10px;
      }
      .timelineItem:nth-child(4n+1) {
        border-left: 1px solid #547df9;
      }
      .timelineItem:nth-child(4n+1)::before {
        color: #547df9;
      }
      .timelineItem:nth-child(4n+2) {
        border-left: 1px solid #f6da40;
      }
      .timelineItem:nth-child(4n+2)::before {
        color: #f6da40;
      }
      .timelineItem:nth-child(4n+3) {
        border-left: 1px solid #88b669;
      }
      .timelineItem:nth-child(4n+3)::before {
        color: #88b669;
      }
      .timelineItem:nth-child(4n+4) {
        border-left: 1px solid #ea546d;
      }
      .timelineItem:nth-child(4n+4)::before {
        color: #ea546d;
      }
    }
  }
}