@import "../../styles/vars";

.cover-section {
  height: 100vh;
}

.reactAudioPlayer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.tag-container, .subtitle-container {
  display: block;
}

.site-tag {
  font-size: 52px;
  color: $dark;
}

.site-tag-subtitle {
  font-size: 36px;
  line-height: 1.3em;
  color: $lightGrey;
}

.site-tag-container {
  //position: absolute;
  margin-top: 20%;
}

.cover-lines {
  margin-top: -11%;
  margin-left: -5%;
}

.featured-track-component {
  margin-top: 20%;
  height: 50%;
  background: black;
}

.featured-track-player-container {
  height: 80%;
  background: #e7e6e6;
}

.featured-track-meta-container {
  height: 20%;
  background: #e7e6e6;
}

.featured-track-title {
  display: flex;
  justify-content: center;
  h6 {
    color: #fff;
    text-align: center;
    background-color: #aa95f7;
    padding: 0 6px;
    font-size: 14px;
    border-radius: 4px;
  }
}

.featured-track-meta-item-title {
  display: flex;
  justify-content: center;
  color: $dark;
  font-weight: bold;
}

.featured-track-meta-item-author {
  display: flex;
  justify-content: center;
  color: $lightGrey;
}

/*
*
Intro section
*
*/

.intro-section {
  display: flex;
  min-height: 400px;
  width: 100%;
  //background: #e7e6e6;
}

.site-tag-container.intro-tag {
    margin-top: 0%;
}

.intro-text {
  font-size: 20px;
  color: $dark;
}

.intro-text-container {
  padding-left: 20%;
}

/*
*
Learn section
*
*/

.learn-section {
  display: flex;
}

.learn-intro-section {
  padding-top: 20px;
}

.fullscreen-learn {
  width: 100%;
}

.learn-inlay {
  position: absolute;
  width: 500px;
  margin-top: 530px;
  right: 100px;
  height: 240px;
  padding: 20px 30px 20px 20px;
  background: #eee;
}

.learn-section-container {
  padding-bottom: 200px;
}

.site-tag.learn-tag {
  font-size: 36px;
}

.featured-learn-item-title {
  color: $dark;
  font-size: 22px;
  font-weight: bold;
}

.featured-learn-item-date {
  color: $lightGrey;
  font-size: 16px;
}

.featured-learn-item-description {
  color: $dark;
  font-size: 18px;
}

.featured-learn-item-description-container {
  padding-top: 10px;
}

/*
*
Recent section
*
*/

.recent-section {
  padding-bottom: 200px;
}

.recent-section-title {
  //min-height: 500px;
  padding-top: 20px;
}

.recent-track-container {
  padding-top: 20px;
  justify-content: space-between;
}

.recent-track {
  width: 32%;
}

.recent-track-item {
  height: 350px;
}

.thumbnail-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0 0 4px rgba(33,33,33, 1);
  }
}

.recent-track-meta-container {
  padding-top: 10px;
}

.recent-track-title {
  font-size: 16px;
  font-weight: bold;
  color: $dark;
}

.recent-track-author {
  font-size: 14px;
  color: $lightGrey;
}
