.contentContainer {
  padding-top:30px;
  padding-left:250px;
}


.userContainer {
  float:right;
  text-align: right;
  margin-right: 5%;
  background:#e1bee7;
}

.userNames {
  font-size:18px;
  text-align:left;
}
