@import "../../styles/vars";

.reactAudioPlayer {
  width: 100%;
  position: fixed;
  bottom: 0;

}

.tag-container, .subtitle-container {
  display: block;
}

.site-tag {
  font-size: 52px;
  color: $dark;
}

.site-tag-subtitle {
  font-size: 36px;
  color: $lightGrey;
}

.site-tag-container {
  position: absolute;
  top: 25%;
}
