@import '../../../../../variables.scss';

.projectPeopleField {
	padding: 10px 0;
}

.projectPeopleRemove {
	@include orpheus_button;

	i {
		padding: 2px 0 0 1px;
		display: block;
	}
}

.projectPeopleFieldInput {
	max-width: none;
	width: 100%;
	border-bottom: 1px solid $color_grey_500;

	.userListItem {
		padding: 30px 15px;

		a:hover {
			.userListItemAvatarImage {
				border: 1px solid $color_grey_500;
			}
			.userListItemUserName {
				color: $orpheus_color_primary_500;
			}
		}

		.userListItemAvatarImage {
			width: 30px;
			height: 30px;
			border-radius: 100%;
			display: inline-block;
			vertical-align: top;
			border: 1px solid $color_grey_500;
			margin-right: 20px;
			@include transition(100ms all ease-in-out);
		}

		.userListItemUserName {
			display: inline-block;
			@include transition(100ms all ease-in-out);
		}
	}

	input, textarea, select {
		font-size: 20px;
		margin: 10px 0;
		display: block;
		width: 100%;
	}

	select {
		margin: 26px 0;
		padding: 15px;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}

	textarea {
		min-height: 120px;
	}

	.projectPersonStatus {
		@include orpheus_font_overline;
		@include transition(100ms all ease-in-out);
		display: inline-block;
		vertical-align: top;
		padding: 24px 5px;
	}
}
