@import '../../../../variables.scss';

.nav-header {
	display: flex;
	cursor: pointer;
}

.left-menu-toggle-icon {
	align-items: center;
	display: flex;
	height: 100%;
	color: $black;
	padding: 15px 5px 15px 10px;

	@include breakpoint2 {
		padding: 15px 15px 15px 20px;
	}

	&:before {
		font-size: 22px;
	}
}

.site-title {
	display:inline-block;
	vertical-align: top;
	font-weight: bold;
	padding: 12px 15px 12px 5px;
	color: $black;
	line-height: 1;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.6);
	letter-spacing: 1px;
}
