@import "../../styles/vars";

.footer {
  background:$dark;
  height:220px;
}

.footer-left {
  width: 40%;
  padding: 5% 0 0 5%;
}

.footer-site-title {
  font-size: 16px;
  color: $lightGrey;
  font-weight: bold;
  font-family: sans-serif;
}

.footer-nav-container {
  padding-top: 30px;
}

.footer-site-nav {
  color: #e7e6e6;
  font-size: 16px;
  font-family: sans-serif;
}

.contact-nav {
  padding-right: 20px;
}

.footer-social-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 7% 3% 0% 40%;;
}

.footer-social-link {
  color: #e7e6e6;
  font-size: 16px;
  font-family: sans-serif;
}

.footer-social-links-container {
  display: flex;
}
