@import "../../../styles";

.about-cover-section {
  height: 400px;
  width: 100%;
  background: #fcfadf;
}

.about-content-section {
  min-height: 500px;
  padding: 0 5%;
  padding-bottom: 60px;
}

.about-cover-image {
  margin-top: -300px;
  margin-bottom: 60px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.about-section-title {
  font-size: 42px;
	padding: 20px 0;
  font-family: $font-reading;
	font-weight: 100;
  color: $darkGrey;
}

.about-text {
  color: $dark;
	font-weight: 100;
  font-family: $font-body;
	line-height: 1.6em;
}

.team-title {
  font-size: 30px;
}

.about-team-section {
  padding-top: 40px;
}

.team-member {
  position: relative;
  min-height: 200px;
  margin-bottom: 30px;
  &.top {
    margin-top: 40px;
  }
}

.team-member-pic-container {
  height: 200px;
  width: 25%;
  display: inline-block;
}

.team-member-meta {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  padding: 10px 20px;
  h3, p {
    font-family: sans-serif;
  }
}

.member-name {
  color: $dark;
  font-weight: bold;

}

.member-position {
  color: $lightGrey;
  font-size: 14px;
}

.member-about-text {
  color: $darkestGrey;
  font-size: 18px;
  font-weight: 100;
  padding-top: 20px;
}
