@import '../../../../variables.scss';

.projectNotAuthorized {
	padding: 120px 0;
	min-height: 100vh;
	text-align: center;

}

.projectNotAuthorizedContent {
	margin: 0 auto;
	max-width: 720px;
	text-align: left;
	min-height: 70vh;

	h1 {
		margin: 90px 0;
	}

	p {
		max-width: 720px;
		margin: 0 auto;
		padding: 30px 0;
	}

}
