@import '../../../../variables.scss';

.userInvite {
	padding: 120px 0;
	min-height: 100vh;
	max-width: 720px;
	margin: 0 auto;

	h1 {
		color: $black;
		font-size: 48px;
		margin-top: 90px;
		display: inline-block;
		vertical-align: baseline;
	}

	hr {
		max-width: 120px;
		width: 90%;
		margin: 20px 0;
		height: 3px;
		background: $color_grey_500;
		border: none;
		outline: none;
		display: none;
	}
}

.userInviteHead {
	a {
		color: $orpheus_color_primary_500;
		&:hover {
			color: $orpheus_color_primary_700;
		}
	}
}


.userInviteFormInputOuter {
	margin: 50px 0;
}

.userInviteFormHelp {
	@include orpheus_button;
}

.userInviteButton {
	@include orpheus_button;
}
