@import '../../../../../../variables.scss';

#features {
  text-align: center;
	background: $color_grey_100;
	margin: 0;
  padding-top: 0;
  @include breakpoint2 {
    padding-bottom: 0;
  }
}

.featuresList {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.feature {
	text-align: center;
	padding: 20px 30px 10px;
	border-top:1px solid rgba(255,255,255,0.1);
	border-right:1px solid rgba(255,255,255,0.01);
	box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.0);
	-moz-box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.0);
  @include breakpoint2 {
    padding: 60px 30px 50px;
    width: 33%;
  }

  hr {
    width: 50px;
		height: 3px;
		background: $color_grey_500;
		border: none;
		outline: none;
  }

	.feature-title {
		padding: 10px 20px;
		margin: 0px auto;
		text-align: center;
		display: inline-block;
	}

	i {
		color: $black;
		display: inline-block;
		vertical-align: top;
		&:before {
			font-size: 32px;
		}
	}

	h4 {
		display: inline-block;
		vertical-align: top;
		padding: 3px 10px 0;
		transition: all 100ms ease-in-out;
	}
}
