.addItem {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 25px 5%;
  height: 340px;
  width: 90%;
  max-width: 280px;
  border: 4px #afafaf solid;
  cursor: pointer;
  .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input {

    border: 0;
    border-bottom: 1px solid #dfdfdf;
    transition: border-color 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input:focus {
    outline: 0;
    border-bottom: 1px solid #62baf0;
    transition: border-color 0.5s ease;
  }
  .autocompleteItem {
    padding: 10px;
    color: #727272;
  }
}
.addItem:hover {
  border: 4px #dfdfdf solid;
  .fa {
    color: #dfdfdf;
  }
}