@import '../../../../variables.scss';

.projectEditor {
	padding: 120px 0;
	min-height: 100vh;
	max-width: 990px;
	margin: 0 auto;

	h1 {
		color: $black;
		font-size: 48px;
		margin-top: 90px;
	}

	hr {
		max-width: 120px;
		width: 90%;
		margin: 20px 0;
		height: 3px;
		background: $color_grey_500;
		border: none;
		outline: none;
		display: none;
	}

	.projectNameAvailabilityFormURLOuterDisabled {
		input, .projectNameAvailabilityFormURL {
			opacity: 0.4;
		}
	}
}


.projectEditorFormInputOuter {
	margin: 50px 0;

	label {
		font-size: 14px;
		display: block;
	}

	input, textarea, select {
		display: inline-block;
		vertical-align: top;
		color: $black;
		border: none;
		border-bottom: 2px solid $color_grey_500;
		padding: 15px 15px 5px 15px;
		margin: 20px 0;
		outline: none;
		width: 90%;
		max-width: 990px;
		text-align: left;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #bbb;
		}
	}

	select {
		min-width: 200px;
		max-width: 50%;
		border: none;
		border-bottom: 2px solid $color_grey_500;
		padding: 15px;
		background: $orpheus_color_accent_200;
		border-radius: 0;

		option {
			background: $orpheus_color_accent_200;
		}
	}

	textarea {
		font-size: 22px;
		line-height: 1.7em;
		min-height: 180px;
	}
}

.projectEditorFormHelp {
	font-size: 12px;
	color: $orpheus_color_primary_500;
	padding: 40px 6px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;

	&:hover {
		color: $orpheus_color_primary_700;
	}
}

.nameNotAvailable {
	color: $orpheus_color_accent_500;
	opacity: 0;

	&.nameNotAvailableVisible {
		opacity: 1;
	}
}

.projectEditorButton {
	display: inline-block;
	margin: 30px 0;
	color: $black;
	padding: 15px 25px;
	background: transparent;
	border: 2px solid $black;
	cursor: pointer;
	border-radius: 0;
	outline: 0;
	@include transition(all 100ms ease-in-out);

	&.disabled {
		opacity: 0.3;
	}

	&:hover {
		background: $orpheus_color_primary_500;
		border: 2px solid $orpheus_color_primary_500;
		color: $orpheus_color_accent_200;
	}

	&:focus {
		outline: none;
	}
}
