@import '../../../../styles';

.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
  z-index: 100;
	@include transition(all 100ms ease-in-out);

}

:global {
	.headroom {
		background: transparent;
		padding: 0px 12px;
		@include transition(all 100ms ease-in-out);
		box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.4);
	}

	.headroom--unfixed {
	  transform: translateY(0);
		padding: 10px 20px;
		box-shadow: none; 
	}

	.headroom--scrolled {
	  transition: transform 200ms ease-in-out;
		background: rgba(255, 255, 255, 0.95);
		height: 60px;
		overflow: hidden;
	}

	.headroom--unpinned {
	  transform: translateY(-100%);
	}

	.headroom--pinned {
	  transform: translateY(0%);
	}
}

.nav {
	display: inline-block;
	vertical-align: top;
	float: right;

	li {
		display: inline-block;
		vertical-align: top;
		font-family: $font-label;

	}
}

.navLink {
	margin: 10px 0;
	padding: 5px 15px;
	cursor: pointer;
	font-size: 14px;
	font-family: $font-label;
	font-weight: bold;
	border: 2px solid transparent;
	letter-spacing: 1px;
	@include transition(all 100ms linear);
	display: inline-block;
	vertical-align: top;

	&:hover {
		background: rgba(255, 255, 255, 0.9);
		color: $dark;
	}
}
