@import '../../../../../../variables.scss';

.exampleListItem {
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: top;
	margin: 25px 4%;
	width: 90%;
	max-width: 290px;

	.exampleListItemImage {
		position: relative;
		z-index: 1;

		img {
			width: 110%;
			margin-left: -10px;
			border: 10px solid transparent;
			outline: 2px solid transparent;
		}
	}

	.exampleListItemBackground {
		background: #eee;
		position: relative;
		padding: 30px 20px 20px;
		margin: -30px -12% 0 -8%;
		width: 120%;
		box-shadow: 0px 0px 2px #ccc;

		&.exampleListItemBackgroundWithImage {
			padding: 210px 20px 20px;
			margin: -210px -12% 0 -8%;
		}
	}

	h3 {
		margin: 0;
		padding: 5px 0 15px;
		transition: all 100ms ease-in-out;
	}

	p {
	}
}
