.numberInputWrapper {
  margin: 10px 0;
  display: inline-block;
  height: 52px;
  width: 100%;
}
.numberInput {
  input {
    border: 1px solid #dfe3e9;
    border-radius: 7px;
    padding: 15px 12px;
    color: #354052;
    height: auto;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  input:hover {
    border: 1px solid #ced0da;
  }
  input:focus {
    outline: none;
    border: 1px solid #2ea2f8;
    color: #354052;
  }
  input:disabled, input:disabled:hover {
    border: 1px solid #dfe3e9;
    background-color: #e9edf1;
  }
  input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    opacity: 1;
  }
}