.selectInput {
  select {
    width: 100%;
    border: 1px solid #dfe3e9;
    border-radius: 7px;
    padding: 15px 12px;
    color: #354052;
    margin: 10px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/images/dropdown-caret.png') no-repeat 96% 50% #fff;
  }
  select:focus {
    outline: none;
    border: 1px solid #2ea2f8;
  }
  select option:disabled {
    color: #3a9fbf;
  }
  .errorBottom {
    color: #ed1c24;
    margin-bottom: 10px;
    .fa {
      color: #ed1c24;
    }
  }
}