@import '../../../../variables.scss';

.nav-header {
	display: flex;
	cursor: pointer;
}

.left-menu-toggle-icon {
	align-items: center;
	display: flex;
	width: 40px;
	height: 100%;
	color: $black;
	padding: 15px 20px;

	&:before {
		font-size: 22px;
	}
}

.site-title {
	display:inline-block;
	vertical-align: top;
	font-weight: bold;
	padding: 12px 15px;
	color: $black;
	line-height: 1.2em;
	margin: 0 10px;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.6);
	letter-spacing: 2px;
}
