.projectPerson {
	padding: 25px 5%;
	min-width: 180px;
	max-width: 240px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.projectPersonAvatar {
	width: 100%;
	border-radius: 100%;
	margin: 15px auto;
}

.projectPersonName {
}
