@import '../../../../../variables.scss';

#createAccount {
  h2 {
    padding-bottom: 15px;
  }
  input::placeholder {
    color: #a1b1bc;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
  .form-control {
    border: 1px solid #e3e6e9;
    box-shadow: none;
    margin: 10px 0;
  }
  .input-group-addon {
    background-color: #fff;
    border: 1px solid #e3e6e9;
    border-left: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  .inner-addon {
    position: relative;
  }
  .inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #e3e6e9;
  }
  .left-addon .fa {
    top: 1px;
    left: 0px;
  }
  .right-addon .fa {
    top: 1px;
    right: 0px;
  }
  .left-addon input {
    padding-left: 30px;
  }
  .right-addon input {
    padding-right: 30px;
  }
  button {
    background-color: #31aae2;
    border: 1px #31aae2 solid;
    width: 100%;
    margin: 0;
  }
  .createAccountIcon {
    width: 162px;
    height: 162px;
    border-radius: 4px;
    border: 1px solid #dfe1e3;
    -webkit-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.2);
    margin: 15px 0;
  }
  .checkbox {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 25px 0;
    color: #6f6f6f;
  }
}
