.metaEditor {
  margin: 15px 0;
  padding: 10px 0;
  .addMeta {
    color: #999;
    font-size: 14px;
    font-family: "Slate W04 Light", sans-serif;
  }
  .itemMetaField {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 15px 0;
    border-top: 1px solid transparent;
    padding: 10px 0;
    align-items: center;
    .metaLabel {
      margin-right: 15px;
      min-width: 160px;
      color: #727272;
      font-family: "Proxima Nova W08 Reg", sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-align: right;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid transparent;
      transition: border-color 0.5s ease;
    }
    .metaLabel:focus {
      outline: 0;
      border-bottom: 1px solid #62baf0;
      transition: border-color 0.5s ease;
    }
    .metaValue {
      color: #212121;
      font-family: "Slate W04 Light", sans-serif;
      font-size: 18px;
      line-height: 1.7em;
      text-align: left;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid transparent;
      transition: border-color 0.5s ease;
    }
    .metaValue:focus {
      outline: 0;
      border-bottom: 1px solid #62baf0;
      transition: border-color 0.5s ease;
    }
    .deleteMeta {
      height: 100%;
    }
    span {
      line-height: 16px;
      font: normal normal normal 16px FontAwesome;
      color: #d0d1d2;
      transition: color 0.5s ease;
    }
    span:hover {
      color: #a4142a;
      transition: color 0.5s ease;
    }
  }
}