@import '../../../../styles/global.scss';
@import '../../../../styles/vars.scss';

.loginForm {
	h3 {
		padding: 10px 0 20px;
	}

	form {
		text-align: left;
		margin: 0 auto;
	}

	.error-text {
		font-size: 16px;
		//font-family: $font-body;
		font-weight: 100;
		//color: $accent;
	}
}

.loginSeparator {
	font-size: 14px;
	margin: 15px auto;
	//font-family: $font-label;
	font-weight: 100;
	//color: $text-primary;
}

.signupLink {
	font-size: 16px;
}

.verificationEmailLink {
	font-size: 16px;
}
