@import '../../../../variables.scss';

.articleListItem {
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: top;
	margin: 25px 4%;
	width: 90%;
	max-width: 260px;

	img {
		transition: all 100ms ease-in-out;
		width: 110%;
		margin-left: -10px;
		border: 10px solid transparent;
		outline: 2px solid transparent;
		cursor:pointer;

		&:hover {
			outline: 2px solid $color_grey_500;
		}
	}

	h3 {
		color: $orpheus_color_primary_500;
		cursor: pointer;
	}

	.description {
		@include orpheus_font_caption;
		color: $orpheus_color_primary_300;
		padding: 10px 0;
		line-height: 1.5em;
	}
}
