@import '../../../variables.scss';

.paginationButton {
	background: #eee;
	color: $orpheus_color_primary_500;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	margin: 10px;
	border: 2px solid #eee;
	padding: 5px 15px;

	@include transition(all 100ms ease-in-out);

	&:hover {
		background: #fff;
		border: 2px solid $orpheus_color_primary_500;
	}

	&.isActive{
		background: $orpheus_color_primary_500;
		border: 2px solid $orpheus_color_primary_500;
		outline: 1px solid $orpheus_color_accent_200;
		color: $orpheus_color_accent_200;
		span {
			color: $orpheus_color_accent_200;
		}
	}

	span {
		@include orpheus_font_caption;
		display: inline-block;
		vertical-align: top;
	}

	i {
		display: inline-block;
		vertical-align: top;
		padding-top: 7px;
		line-height: 10px;
	}
}
