@import '../../../variables.scss';

.menuSubItem {
	@include orpheus_font_overline;
	padding: 0px 25px;
	display: block;
	text-align: left;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;

	&.menuSubItemLast {
		margin-bottom: 15px;
	}

	span {
		padding: 10px 15px;
		border-left: 2px solid rgba($black, 0.2);
		color: $black;
		display: block;
	}
}
