@import '../../../../../../variables.scss';

.readyToStart {
	color: $black;
	display: flex;
	align-items: center;
	width: 100%;
	text-align: left;
	background: $color_grey_100;
	margin-top: 30px;
	position: relative;
	@include breakpoint2 {
		padding-top: 60px;
	}

	.button {
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;
		@include breakpoint2 {
			width: auto;
		}
	}

	.startButtons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding-top: 15px;
		@include breakpoint2 {
			align-items: flex-start;
			justify-content: flex-end;
		}
		.contactButton {
			@include orpheus_button;
			@include breakpoint2 {
				margin-left: 10px;
				padding-left: inherit;
				padding-right: inherit;
			}
		}
	}
}

.readyToStartSplash {
	width: 200%;
	margin: 0 -50%;
	background: $color_grey_100;
	height: 300px;
	position: absolute;
	top: -30px;
	left: 0;
	transform: rotate(-3deg);
	@include breakpoint2 {
		top: -60px;
	}
}
