@import '../../../../../../variables.scss';

.readyToStart {
	color: $black;
	display: flex;
	align-items: center;
	width: 100%;
	text-align: left;
	background: darken($white, 10%);
	margin-top: 30px;
	padding-top: 60px;
	position: relative;

	.button {
		display: inline-block;
		margin: 10px 0;
	}

	.startButtons {
		text-align: right;
		.contactButton {
			@include orpheus_button;
			margin-left: 10px;
		}
	}
}

.readyToStartSplash {
	width: 200%;
	margin: 0 -50%;
	background: darken($white, 10%);
	height: 300px;
	position: absolute;
	top: -60px;
	left: 0;
	transform: rotate(-3deg);
}
