@import '../../../../variables.scss';

.profile {
	padding: 120px 0;
	min-height: 100vh;
	max-width: 500px;
	margin: 0 auto;

	h1 {
		color: $black;
		font-size: 48px;
		margin-top: 90px;
	}

	hr {
		max-width: 120px;
		width: 90%;
		margin: 20px 0;
		height: 3px;
		background: $color_grey_500;
		border: none;
		outline: none;
		display: none;
	}
}

.profileEditorFormInputOuter {
	margin: 50px 0;
}

.profileEditorFormHelp {
	color: $orpheus_color_primary_500;
	padding: 40px 6px;
	display: inline-block;
	cursor: pointer;

	&:hover {
		color: $orpheus_color_primary_700;
	}
}

.profileEditorButton {
	@include orpheus_button;
	width: 100%;
}
