@import "../../../../styles.scss";

.soundListItem {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 5px 0;
	cursor: pointer;

	&:hover {
		background: rgba(200, 200, 200, 0.2);
	}

	.itemTrack {
		display: flex;
		align-items: center;
	}

	.soundListItemIsCurrentTrack {
		background: #fbf7f5;
		cursor: pointer;

		&:hover {
			background: $accent-300;
		}
	}

	.index {
		display: block;
		font-family: $font-reading;
		font-size: 22px;
		color: $dark;
		padding-left: 10px;
	}

	.itemIndex {
		width: 10%;
	}

	.itemContent {
		display: flex;
		justify-content: left;
		align-items: center;
		width: 90%;
		color: $dark;
		padding-top: 12px;
	}

	.thumbnail {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 70px;
		height: 70px;
		min-width: 70px;
		min-height: 70px;
	}

	.thumbnailImage {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 2px;
		overflow: hidden;
	}

	.playButton {
		position: absolute;
		top: 0;
		left: 0;
		width: 70px;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;

		div {
			width: 40px;
			height: 40px;
			opacity: .95;
			@include gradient-vertical($primary-500, $accent-500);
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		i {
			color: $light;
			display: block;

			&:before {
				font-size: 24px;
			}
		}
	}

	.playButtonHover {
		opacity: 1;
	}

	.itemText {
		display: inline-block;
		vertical-align: top;
		padding: 0 20px;
		width: 100%;
	}

	.title {
		font-size: 14px !important;
		line-height: 1.5em !important;
		font-family: $font-title;
		color: $dark;
		margin: 0;
		padding: 0;
		display: block;
	}

	.byline {
		font-size: 12px;
		font-family: $font-label;
		color: #999;
		line-height: 1.5em;
		display: block;
		@media #{$breakpoint-0} {
			display: none;
		}
	}

}

@media (max-width: 1200px) {
	.thumbnail {
		width: 0;
		margin-right: 70px;
	}
}
