@import './variables.scss';

html, body, input, p, span, label {
	@include orpheus_font_body1;
}

h1 {
	@include orpheus_font_heading1;
}

h2 {
	@include orpheus_font_heading2;
}

h3 {
	@include orpheus_font_heading3;
}

h4 {
	@include orpheus_font_heading4;
}

h5 {
	@include orpheus_font_heading5;
}

h6 {
	@include orpheus_font_heading6;
}

body {
	@include orpheus_font_body1;
  color: $black;
  margin: 0;
  padding: 0;
}

.caption {
	@include orpheus_font_caption;
}

.overline {
	@include orpheus_font_overline;
}

.subtitle {
	@include orpheus_font_subtitle;
}

a {
	color: $orpheus_color_primary_500;
	font-weight: 600;
	text-decoration: none;
	&:hover, &:focus {
		color: $orpheus_color_primary_700;
		text-decoration: none;
	}
}

li {
	list-style:none;
}

input {
	border: 1px solid lighten($black, 50%);
	padding: 10px;
}

input[type="submit"], button[type="submit"] {
	@include orpheus_button--primary;
}

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}

.absolute {
  position: absolute;
}

.bg-light-blue {
  background-color: #e7f4f8;
}

.bg-lighter-blue {
  background-color: #e8f4f8;
}

.border-bottom {
  border-bottom: 2px solid;
}

.border-left {
  border-left: 2px solid;
}

.border-right {
  border-right: 2px solid;
}

.border-top {
  border-top: 2px solid;
}

.border-light-blue {
  border-color: #3a9fbf;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.full-width {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.inline-block {
  display: inline-block;
}

.p1 {
  padding: 2px;
}

.relative {
  position: relative;
}

.rounded {
  border-radius: 2px;
}

.z0 {
  z-index: 0;
}

.z10 {
  z-index: 10;
}

.z100 {
  z-index: 100;
}

section {
  padding: 90px 0;

  img {
    margin: 0 auto;
  }
}
