/******************************************************************************


                  _
     ___ _ _ _ __| |_  ___  _  _ ___
    / _ \ '_| '_ \ ' \/ -_)| || (_-<
    \___/_| | .__/_||_\___(_)_,_/__/
            |_|

        The archive, reimagined.



 |  Style Variables for orphe.us application
 |
 |   1. Colors
 |   2. Typography
 |   3. Mixins


******************************************************************************/


/******************************************************************************

1. Colors

******************************************************************************/

/******************************************************************************

1.1 Base Colors

******************************************************************************/
$black: #000000;
$white: #FFFFFF;
$red: #FF0000; /* use only on error messages! */
$color_grey_50: #fafafa;
$color_grey_100: #f5f5f5;
$color_grey_200: #eeeeee;
$color_grey_300: #e0e0e0;
$color_grey_400: #bdbdbd;
$color_grey_500: #9e9e9e;
$color_grey_600: #757575;
$color_grey_700: #616161;
$color_grey_800: #424242;
$color_grey_900: #212121;

/******************************************************************************

1.2 Brand Colors

******************************************************************************/
$orpheus_color_primary_50: #EDE1E8;
$orpheus_color_primary_100: #D1B3C5;
$orpheus_color_primary_200: #B3819E;
$orpheus_color_primary_300: #944E77;
$orpheus_color_primary_400: #7D2859;
$orpheus_color_primary_500: #66023C;
$orpheus_color_primary_600: #5E0236;
$orpheus_color_primary_700: #53012E;
$orpheus_color_primary_800: #490127;
$orpheus_color_primary_900: #38011A;

$orpheus_color_accent_50: #F6F7F8;
$orpheus_color_accent_100: #E7ECEE;
$orpheus_color_accent_200: #D8DFE2;
$orpheus_color_accent_300: #C8D2D6;
$orpheus_color_accent_400: #BCC8CE;
$orpheus_color_accent_500: #B0BEC5;
$orpheus_color_accent_600: #A9B8BF;
$orpheus_color_accent_700: #A0AFB8;
$orpheus_color_accent_800: #97A7B0;
$orpheus_color_accent_900: #8799A3;

/******************************************************************************

2. Typography

=================================
Material Design Icons
=================================
font-family: "Material Design Icons";

******************************************************************************/

/******************************************************************************

2.1 Base Fonts

******************************************************************************/
// Font values here taken from our design system: https://www.figma.com/file/a1gvT7kdSes1EA4wvTeaWB9n/Material-Design-System-v2.1-%E2%80%94-modified-to-match-Orpheus?node-id=0%3A114
@mixin orpheus_font_heading1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -0.09375rem;
  line-height: 1;

  @include breakpoint2 {
    font-size: 6rem;
  }
}

@mixin orpheus_font_heading2 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.03125rem;
  line-height: 1.2;

  @include breakpoint2 {
    font-size: 4rem;
  }
}

@mixin orpheus_font_heading3 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3;

  @include breakpoint2 {
    font-size: 3rem;
  }
}

@mixin orpheus_font_heading4 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.015625rem;
  line-height: 1.3;

  @include breakpoint2 {
    font-size: 2rem;
  }
}

@mixin orpheus_font_heading5 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;

  @include breakpoint2 {
    font-size: 1.6rem;
  }
}

@mixin orpheus_font_heading6 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.015625rem;
  line-height: 1.3;

  @include breakpoint2 {
    font-size: 1.25rem;
  }
}

@mixin orpheus_font_body1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125rem;
  line-height: 1.75;
}

@mixin orpheus_font_body2 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.9333333333rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
}

@mixin orpheus_font_subtitle {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.00625rem;
  line-height: 1.5;
}

@mixin orpheus_font_caption {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
  line-height: 1.3333333333;
}

@mixin orpheus_font_overline {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  line-height: 1;
}

@mixin orpheus_font_button {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  line-height: 1;
}

/******************************************************************************

2.2 Material Design Icons

******************************************************************************/

@font-face {
  font-family: "Material Design Icons";
  src: url("/fonts/materialdesignicons-webfont.eot?v=1.9.32");
  src: url("/fonts/materialdesignicons-webfont.eot?#iefix&v=1.9.32") format("embedded-opentype"), url("/fonts/materialdesignicons-webfont.woff2?v=1.9.32") format("woff2"), url("/fonts/materialdesignicons-webfont.woff?v=1.9.32") format("woff"), url("/fonts/materialdesignicons-webfont.ttf?v=1.9.32") format("truetype"), url("/fonts/materialdesignicons-webfont.svg?v=1.9.32#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/******************************************************************************

3. Mixins

 Mixins are based off of the excellent ups-mixin-lib repository by Upstatement
 @https://github.com/Upstatement/ups-mixin-lib

******************************************************************************/

@import "scss/default-settings";

@import "scss/functions/auto";
@import "scss/functions/em";
@import "scss/functions/rem";
@import "scss/functions/shade";
@import "scss/functions/strip-units";
@import "scss/functions/tint";

@import "scss/mixins/aspect-ratio";
@import "scss/mixins/breakpoints";
@import "scss/mixins/center";
@import "scss/mixins/circle";
@import "scss/mixins/clearfix";
@import "scss/mixins/ellipsis";
@import "scss/mixins/grid";
@import "scss/mixins/hide";
@import "scss/mixins/margin";
@import "scss/mixins/mq";
@import "scss/mixins/mq-dpi";
@import "scss/mixins/orpheus_button";
@import "scss/mixins/padding";
@import "scss/mixins/position-absolute";
@import "scss/mixins/position-fixed";
@import "scss/mixins/position-relative";
@import "scss/mixins/pseudo";
@import "scss/mixins/reset-input";
@import "scss/mixins/retina-bg";
@import "scss/mixins/shorthander";
@import "scss/mixins/size";
@import "scss/mixins/svg";
@import "scss/mixins/triangle";
@import "scss/mixins/transition";

@import "scss/helper";
