@import '../../../../variables.scss';

.textEditor {
	padding: 0;
	max-width: 990px;
	margin: 0 auto;

	h1 {
		margin-top: 90px;
	}

	hr {
		max-width: 120px;
		width: 90%;
		margin: 20px 0;
		height: 3px;
		background: lighten($black, 50%);
		border: none;
		outline: none;
		display: none;
	}

	.textNameAvailabilityFormURLOuterDisabled {
		input, .textNameAvailabilityFormURL {
			opacity: 0.4;
		}
	}
}


.textEditorFormInputOuter {
	margin: 50px 0;

	label {
		display: block;
	}

	input, textarea {
		margin: 20px 0;
		width: 90%;
		max-width: 990px;
		text-align: left;
	}
}

.textEditorFormHelp {
	display: inline-block;
	cursor: pointer;

	&:hover {
		color: $orpheus_color_primary_700;
	}
}

.nameNotAvailable {
	opacity: 0;

	&.nameNotAvailableVisible {
		opacity: 1;
	}
}

.textEditorButton {
	@include orpheus_button;
	display: inline-block;
	margin: 30px 0;
}
