@import '../../../../variables.scss';

.metadataFieldMapInput {
	width: 100%;
	padding-right: 15px;
	position: relative;

	.latitudeAndLongitude {
		color: $black;
		display: flex;
		align-items: baseline;
		margin: 15px 0;

		h5 {
			font-size: 14px;
		}

		span {
			padding: 5px 10px;
		}
	}
}

.placesAutocompleteInput {
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 10px;
	display: flex;
	background: $orpheus_color_accent_200;
	justify-content: center;
	align-items: center;
	padding: 5px 15px;

	i {
		color: $black;
		&:before {
			font-size: 22px;
		}
	}
}

.metadataFieldMapSearch {
	display: flex;

	input[type="text"] {
		font-size: 20px;
    margin: 10px 20px 10px 0;
    display: block;
    width: 100%;
		line-height: 1.7em;
	}
}

.metadataFieldMapInputTextSubmit {
	@include orpheus_button;

	i {
		padding-right: 10px;
	}
}
