@import '../../../../styles';

.modalHeadOuter {
	padding: 30px 0;

}

.siteTitle {
	display:inline-block;
	vertical-align: top;
	font-family: $font-logo;
	font-weight: bold;
	padding: 10px 0;
	color: $dark;
	line-height: 1.7em;
	margin: 5px 0;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.6);
	font-size: 22px;
	letter-spacing: 0.6px;
	z-index: 10;
	position: absolute;
	top: 85px;
	left: 0;
	width: 100%;
	text-align: center;

}

.siteLogo {
	position: relative;
	margin: 0 auto;
	height: 120px;
	width: 120px;
}

.siteLogo1 {
	height: 60px;
	width: 60px;
	border-radius: 100%;
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 4;
	@include gradient-vertical($primary-500, $accent-500);
	opacity: 0.9;
}

.siteLogo1Hover {
  animation: circle-outer-circle 500ms 1 ease-out;
}

.siteLogo2 {
	height: 80px;
	width: 80px;
	border-radius: 100%;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 3;
	@include gradient-vertical($primary-500, $accent-500);
	opacity: 0.6;
}

.siteLogo2Hover {
  animation: circle-outer-circle 500ms 1 ease-out;
}

.siteLogo3 {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
	@include gradient-vertical($primary-500, $accent-500);
	opacity: 0.3;
}

.siteLogo3Hover {
  animation: circle-outer-circle 500ms 1 ease-out;
}

.siteLogo4 {
	height: 120px;
	width: 120px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	@include gradient-vertical($primary-500, $accent-500);
	opacity: 0.1;
}

.siteLogo4Hover {
  animation: circle-outer-circle 500ms 1 ease-out;
}

.siteLogo5 {
	height: 120px;
	width: 120px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: transparent;
	opacity: 0;
	border: 1px solid #ddd;
}

.siteLogo5Hover {
  animation: circle-outer-circle 500ms 1 ease-out;
}
