@import '../../../../variables.scss';

.itemMetaField {
	display: block;
	border-top: 1px solid transparent;
	padding: 20px 0;

	label, span {
		display: block;
		vertical-align: top;
	}

	label {
		width: 100%;
		margin-right: 15px;
		min-width: 160px;
		text-align:left;
	}

	span {
		text-align: left;
	}

	&:last-child {
		padding-bottom: 0px;
	}
}
