@import "../../../../styles.scss";

.playlistListItem {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 5px 0;

	&:hover {
		background: #eee;
	}
}

.itemTrack {
	display: flex;
	align-items: center;
}

.index {
	display: block;
	font-family: $font-reading;
	font-size: 22px;
	color: $dark;
}

.itemIndex {
	width: 9%;
}

.itemContent {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 91%;
	color: $dark;
}

.thumbnail {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 70px;
	height: 70px;
}

.thumbnailImage {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
	overflow: hidden;
}

.playButton {
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;

	div {
		width: 40px;
		height: 40px;
		opacity: 0.7;
		@include gradient-vertical($primary-500, $accent-500);
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	i {
		color: $light;
		display: block;

		&:before {
			font-size: 24px;
		}
	}
}

.playButtonHover {
	opacity: 1;
}

.itemText {
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
	width: 100%;
}

.title {
	font-size: 14px;
	font-family: $font-title;
	color: $dark;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	display: block;
}

.byline {
	font-size: 12px;
	font-family: $font-label;
	color: $lightGrey;
	line-height: 1.5em;
	display: block;
	@media #{$breakpoint-0} {
		display: none;
	}
}
