@import '../../../variables.scss';

.bricks {
	margin: 0 auto;
	text-align: center;
}

.brick {
	border: 6px solid transparent;
	outline: 4px solid transparent;
	@include transition(all 100ms ease-in-out);
	opacity: 0.9;

	&:hover {
		outline: 4px solid $primary-100;
		opacity: 1;
	}

}
