@import '../../../variables.scss';

.bricks {
	margin: 0 auto;
	text-align: center;
	background: blue;
}
#home .bricks {
	background: blue;
}

.brick {
	opacity: 0.9;
	@include transition(all 100ms ease-in-out);

	&:hover {
		opacity: 0.1;
		border: 2px solid transparent;
		outline: 2px solid $primary;
	}
}
