@import '../../../../variables.scss';

.itemListItem {
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: top;
	margin: 25px 4%;
	width: 90%;
	max-width: 260px;

	.listItemImageLink {
		display: block;
		max-height: 330px;
		overflow: hidden;
	}

	img {
		@include transition(all 100ms ease-in-out);
		width: 110%;
		margin-left: -10px;
		border: 10px solid transparent;
		outline: 2px solid transparent;
		cursor:pointer;

		&:hover {
			outline: 2px solid lighten($black, 50%);
		}
	}

	h3 {
		color: $orpheus_color_primary_500;
		cursor: pointer;
		word-wrap: break-word;
		padding: 10px 0 5px;
	}

	.description {
		@include orpheus_font_body1;
		padding: 5px 0;
		line-height: 1.5em;
	}
}
