@import '../../../../variables.scss';

.itemSelectorItemListItem {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	width: 100%;
	max-width: none;
	cursor: pointer;
	border-bottom: 1px solid $color_grey_500;
	background: #fff;
	transition: all 100ms ease-in-out;
	padding: 10px 15px;
	clear: both;

	&:hover {
		background: #fefefe;

		.itemSelectorItemTitle, .itemSelectorItemPlus {
			color: $black;
		}
	}

	.itemThumbnail {
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: top;
	}

	.itemSelectorItemTitle {
		display: inline-block;
		vertical-align: top;
		transition: all 100ms ease-in-out;
	}

	.itemSelectorItemPlus {
		display: inline-block;
		vertical-align: top;
		float: right;
		padding: 5px;
		transition: all 100ms ease-in-out;

		&:before {
			font-size: 18px;
		}
	}
}
