@import '../../../../../../variables.scss';

#home {
	overflow-x: hidden;

	h1 {
		margin-bottom: 20px;
	}

	.home-cover-content {
		margin: 0 auto;
		max-width: 720px;
		width: 90%;

		.lead {
			display: block;
			padding: 20px 0;
		}

		.orpheus_button {
			margin: 10px 20px 10px 0;
		}

		.home-cover-buttons {
			margin: 40px 0 0;
		}
	}

	#footer {
		padding-top: 0;
	}
}
