@import "../../../../styles";

.sound {
	min-height: 600px;
	padding: 0 0 120px;
}

.waveCoverSection {
  // height: 80vh;
}

.soundBody {
	max-width: 720px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}

.content {
	font-size: 22px;
	font-family: $font-reading;
	line-height: 1.5em;
	padding: 15px 0;
	color: #444;
}
