@import "../../../../styles";


.track-number-container {
  display: inline-block;
  vertical-align: top;
  padding: 26px 0px 0px 10px;
}

.track-number {
  font-size: 22px;
  font-weight: bold;
  color: $dark;
}

.track-duration-container {
  display: inline-block;
  float: right;
  padding: 26px 10px 0 0;
}

.track-duration {
  color: $lightGrey;
  font-size: 14px;
}
