@import "../../../../styles";

.sound {
	min-height: 600px;
	padding: 0 0 120px;
	position: relative;
}

.waveCoverSection {
	justify-content: center;
}

.soundBody {
	max-width: 720px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
	@media #{$breakpoint-0} {
		padding: 20px;
	}
}

.content {
	text-align: left;

	p {
		font-size: 22px;
		font-family: $font-reading;
		font-weight: 100;
		line-height: 1.7em;
		padding: 15px 0;
		color: #444;

		a {
			color: $primary-800;
		}
	}
}

.metaItem {
	padding: 15px 0;

	label {
		font-family: $font-label;
		font-size: 24px;
		font-weight: bold;
		text-align: left;
		width: 100%;
		margin-bottom: 10px;
	}

	p {
		font-family: $font-body;
		font-size: 18px;
		font-weight: 100;
		padding: 0;
		text-align: left;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: $font-title;
	}

	h1 {
		font-size: 42px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 22px;
	}

	h5 {
		font-size: 18px;
	}
}

.backToSound {
	position: absolute;
	top: 80px;
	left: 0;
	color: $darkGrey;
	font-size: 14px;
	font-family: $font-label;
	// text-transform: uppercase;
	cursor: pointer;
	padding: 10px 0;

	&:hover {
		color: $dark;
	}

	i {
		padding-bottom: 3px;
		display: inline-block;
		vertical-align: middle;

		&:before {
			font-size: 20px;
		}
	}
}
@media (max-width: 990px) {
	.metaItem {
		label {
			text-align: left;
		}

		p {
			padding: 15px 0;
		}
	}
}
