@import '../../../../../../variables.scss';

#about {
	padding-top: 0;
	text-align: left;

	.aboutIntro {
		text-align: center;
		padding: 30px 0;
		width: 90%;
		max-width: 990px;
		margin: 0 auto;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.aboutLead {
		font-size: 2rem;
		text-align: left;
		display: inline-block;
		margin: 0;
		padding: 0;
		@include breakpoint2 {
			padding: 30px 20px 30px 80px;
		}

		.quoteByline {
			padding: 20px 10px 30px 60px;
		}

	}

	.aboutText {
		padding: 0 5%;
		@include breakpoint2 {
			padding: 30px 0;
		}
		p {
			font-size: 1rem;
			max-width: 720px;
			margin: 0 auto;
			padding: 15px 0;
			@include breakpoint2 {
				font-size: 1.3rem;
			}
		}
	}

	.collectionCount, .collectionLink {
		display: none;
	}

	blockquote {
		border: none;
		outline: none;
	}
}
