@import '../../../../../../variables.scss';

#learn {
	text-align: left;

	.aboutIntro {
		text-align: center;
		padding: 30px 0;
		width: 90%;
		max-width: 990px;
		margin: 0 auto;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.aboutLead {
		text-align: left;
		display: inline-block;
		margin: 0;
		padding: 30px 20px 30px 80px;

		p {
			font-size: 34px;
			font-family: $font-reading;
			color: $dark;
			line-height: 1.7em;
			font-style: normal;
		}

		.quoteByline {
			font-size: 24px;
			padding: 20px 10px 30px 60px;
			color: $text-gray;
			font-style: italic;
		}

	}

	.aboutText {
		padding: 30px 0;
		p {
			line-height: 1.7em;
			font-family: $font-reading;
			color: $dark;
			font-size: 26px;
			max-width: 720px;
			margin: 0 auto;
			padding: 15px 0;
		}
	}

	.collectionCount, .collectionLink {
		display: none;
	}

	blockquote {
		border: none;
		outline: none;
	}
}
