@import '../../../../variables.scss';

.articleTextEditor {

	section {
		padding: 0;
		margin: 0;
	}

	.section--last {
		padding-bottom: 5px;
	}

	.DraftEditor-editorContainer {
		p, span, div, label {
		}
	}

	.inlineTooltip-button.control {
		top: -30px;
	}
	.inlineTooltip-menu {
		margin-top: -30px;
	}
}
