@import '../../../../variables.scss';


.projectNameAvailabilityForm {
	margin-top: 40px;
	padding: 0;
}

.projectNameAvailabilityFormInputOuter {
	margin-bottom: 40px;
	input {
		width: 90%;
		// max-width: 660px;
	}
}

.projectNameAvailabilityFormURLOuter {
	&.projectNameUnavailable {
		input {
			color: $color_grey_400;
		}
	}

	input {
		width: 260px;
		text-align: right;
	}
}

.projectNameAvailabilityFormURLFields {
	display: flex;
	align-items: center;
}

.projectNameAvailabilityFormURL {
	margin-left: 7px;
}

.nameNotAvailable {
	color: $color_grey_400;
	opacity: 0;

	&.nameNotAvailableVisible {
		opacity: 1;
	}
}
