@import '../../../../variables.scss';

.itemSelectorItems {
	border: 1px solid $color_grey_500;
	height: 421px;
	overflow-y: scroll;

	label {
		width: 100%;
		display: block;

		a {
			font-size: 14px;
			font-weight: 100;
			padding: 5px 10px;
			text-transform: none;
			font-style: italic;
			@include transition(all 100ms ease-in-out);

			&:hover {
			}
		}
	}
}



.collectionEditorFormInputOuter .itemSelectorTextsearch,
.itemEditorFormInputOuter .itemSelectorTextsearch,
.itemSelectorTextsearch {
	input {
		width: 100%;
		padding: 10px 15px;
		border-bottom: 1px solid $color_grey_500;
		margin: 0;
	}
}
